<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/create.css}" type="text/css">
<script type="text/javascript" th:src="@{/js/createValidation.js}"></script>
<title>新規登録画面</title>
</head>
<body>
	<header class="header">
		<h2 class="title">NEW REGISTRATION SCREEN</h2>
	</header>
	<form class="signform" action="users/create" th:action="@{/users/create}" th:object="${form}"
		method="post" id="signform">

		<!-- バリデーション表示 -->
		<label th:text="${message}" style="color: red"></label>
		<!-- <label th:each="error : ${#fields.detailedErrors()}"> <q
			th:text="${error.message}" style="color:red"></q><br></label>
				 -->
		<!-- javascriptでのバリデーション処理表示 -->
		<div id="login_id_feedback" style="color: red"></div>
		<div id="name_feedback" style="color: red"></div>
		<div id="password_feedback" style="color: red"></div>
		<div id="confirmation_passwordd_feedback" style="color: red"></div>

		<!-- 入力ホーム -->
		<!-- ログインID -->
		<input type="text" name="login_id" th:field="*{login_id}" placeholder="LOGIN ID"/>

		<!-- 名前 -->
		<input id="name" type="text" name="name" th:field="*{name}" placeholder="NAME"/>

		<!-- パスワード -->
		<input id="password" type="password" name="registrationPassword" th:field="*{registrationPassword}" placeholder="PASSWORD"/>

		<!-- 確認用パスワード -->
		<input id="confirmationPassword" type="password" name="confirmationPassword" th:field="*{confirmationPassword}" placeholder="CONFIRMATION PASSWORD"/>

		<!-- 部署 -->
		<label for="branch">部署名</label> <select name="branch_id" size="1"
			id="branch">
			<option th:each="branch: ${branches}" th:value="${branch.id}"
				th:selected="${branch.id == form.branch_id}"
				th:text="${branch.branch_name}">
		</select><br>

		<!-- 役職 -->
		<label for="department_position_id">役職</label> <select
			name="department_position_id" size="1" id="department_position_id">
			<option th:each="position: ${departmentPositions}"
				th:value="${position.id}"
				th:selected="${position.id == form.department_position_id}"
				th:text="${position.department_position_name}">

		</select><br> <input id="submit" type="submit" value="登録" onclick="return createCheck()"><a href="/users">戻る</a>
	</form>
</body>
</html>