<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
<title>ホーム画面</title>
</head>
<body>

	<header class="header">
		<!-- タイトル -->
		<h2 class="title">USER MANAGEMENT SYSTEM</h2>
		<!-- 新規画面ボタン -->
		<div class="buttons">
		<a class="button" th:href="@{/users/create}">SIGN UP</a>
		</div>
	</header>
	<table class="table">
		<tr><!-- 項目 -->
			<th>ID</th>
			<th>LOGIN ID</th>
			<th>NAME</th>
			<th>BRANCH</th>
			<th>POSITION</th>
			<th>EDIT</th>
			<th>STOP</th>
			<th>START</th>
		</tr>
		<!-- 全ユーザーの表示 -->
		<tr th:each="user: ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.login_id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.branch_name}"></td>
			<td th:text="${user.department_position_name}"></td>
			<td><!-- 編集ボタン -->
				<form action="users/edit" method="get">
					<input type="submit" value="EDIT">
					<input type="hidden" name="id" th:value="${user.id}">
				</form>
			</td>
			<td><!-- 停止ボタン -->
				<form action="users/stop" method="post">
					<input type="submit" value="STOP" onclick="return confirm('停止します、よろしいですか？')">
					<input type="hidden" name="id" th:value="${user.id}">
				</form>
			</td>
			<td><!-- 復活ボタン -->
				<form action="users/start" method="post">
					<input type="submit" value="START" onclick="return confirm('復活します、よろしいですか？')">
					<input type="hidden" name="id" th:value="${user.id}">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>