@charset "UTF-8";

body {
	padding: 150px 0 150px;
	background: #151515;
	color: #fff;
	text-align: center;
}

.signform {
	width: 50%;
	margin: 50px auto 0;
}

.signform input[type=text],
.signform input[type=password]{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.05);
	color: #fff;
}

.title {
	position: relative;
	display: inline-block;
	margin: 30px 0 15px;
	padding-bottom: 15px;
	letter-spacing: 2px;
	font-size: 4rem;
}

.title::before,
.title::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #999;
}

.title::before {
	bottom: 5px;
}