@charset "UTF-8";

body {
	padding: 150px 200px;
	background: #151515;
	color: #fff;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	text-align: center;
	padding: 10px 0;
	text-align: center;
}

.header {
	padding: 0 30px 80px;
}

.title {
	position: relative;
	display: inline-block;
	margin: 30px 0 15px;
	padding-bottom: 15px;
	letter-spacing: 2px;
	font-size: 4rem;
}

.title::before, .title::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #999;
}

.title::before {
	bottom: 5px;
}

.button {
	display: inline-block;
	width: 200px;
	padding: 20px;
	border-radius: 4px;
	background-color: #afa58d;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

.buttons .button {
	margin: 10px;
}

.button:hover {
	opacity: 0.9;
}